<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<!-- Facts and Goals of Derek Maggio -->
<body>
    <h1>Derek Maggio</h1>
    <h2>Interesting Facts</h2>
    <h2>Goals</h2>

    <p>I have <strong>lymes</strong> disease and was <em>bitten</em> by a German Shepard when I was younger.</p>
    <p>I would like to <strong>blend</strong> all my interests into a <em>presidential</em> campaign.</p>

<!-- Favorite Italian Foods of Derek -->
    <h3>Favorite Italian Foods Are:</h3>

    <ul>
        <li>Spaghetti</li>
        <li>Lasagna</li>
        <li>Calzones</li>
    </ul>

<!-- Favorite Drinks of Derek -->
    <h4>Favorite Drinks Are:</h4>

    <ol>
        <li>Water</li>
        <li>Espresso</li>
        <li>Orange Juice</li>
    </ol>

    <table>
        <tr>
            <th>Courses</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <th>BMGT310</th>
            <th>Fall '22</th>
        </tr>
        <tr>
            <th>BUAC716</th>
            <th>Fall '23</th>
        </tr>
        <tr>
            <th>BMGT302</th>
            <th>Fall '23</th>
        </tr>
    </table>

<!-- Links to /hello route and My Favorite Websites -->
    <p>Link to the <a href="/hello"> Hello World /hello route</a></p>
    <p>Link to the <a href="https://www.wsj.com/" target="_blank">WSJ</a></p>
    <p>Link to <a href="https://open.spotify.com/"> Spotify</a></p>

<!--UMD Business School Logo-->
    <p>Robert H. Smith Logo</p>

    <img src ="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo">

</body>
</html>