<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<!-- Facts and Goals of Derek Maggio -->
<body>
    <h1>Derek Maggio</h1>

    <h2>Interesting Fact</h2>
    <p>I have <strong>lymes</strong> disease and was <em>bitten</em> by a German Shepard when I was younger.</p>

    <h2>Goals</h2>
    <p>I would like to <em>blend</em> all my interests into a <strong>presidential</strong> campaign when I'm 35 years old. I believe that I can change the world and make it a better place due to my strong academic record and charismatic nature.</p>

<!-- Text of Favorite Italian Foods Made Blue -->
<p class = "favFoods">Favorite Italian Foods Are:</p>

    <ul>
        <li>Spaghetti</li>
        <li>Lasagna</li>
        <li>Calzones</li>
    </ul>

<!-- Favorite Drinks of Derek -->
    <h4>Favorite Drinks Are:</h4>

    <ol>
        <li>Water</li>
        <li>Espresso</li>
        <li>Orange Juice</li>
    </ol>

<!-- Business Ventures of Derek -->
    <p id="Business-Ventures">Business Ventures</p>
        <ul>
            <li>Pear, LLC</li>
            <li>Harco Field Lining</li>
            <li>Maggio Business</li>
        </ul>

    <table>
        <tr>
            <th>Courses</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <th>BMGT310</th>
            <th>Fall '22</th>
        </tr>
        <tr>
            <th>BUAC716</th>
            <th>Fall '23</th>
        </tr>
        <tr>
            <th>BMGT302</th>
            <th>Fall '23</th>
        </tr>
    </table>

<!-- Links to /hello route and My Favorite Websites -->
    <p>Link to the <a href="/hello"> Hello World /hello route</a></p>
    <p>Link to the <a href="https://www.wsj.com/" target="_blank">WSJ</a></p>
    <p>Link to <a href="https://open.spotify.com/"> Spotify</a></p>

<!--UMD Business School Logo Added & Stylized-->
    <p>Robert H. Smith Logo</p>

    <img class = "logo" src ="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         alt="Smith Logo">

</body>
</html>